*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
}
.content{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vh;
    margin: 200px auto;
  }
.clock{
    width: 500px;
    height: 500px;
    position: relative;
    background-color: rgb(86, 96, 97);
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
    margin: 0 auto;
}
.clock .hour{
    --rotaton: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-weight: bold;
    font-size: 30px;
    color: rgb(255, 255, 255);
    -webkit-transform: rotate(var(--rotation));
    -moz-transform: rotate(var(--rotation));
    -ms-transform: rotate(var(--rotation));
    -o-transform: rotate(var(--rotation));
}

.clock .hour-1{--rotation: 30deg;}
.clock .hour-2{--rotation: 60deg;}
.clock .hour-3{--rotation: 90deg;}
.clock .hour-4{--rotation: 120deg;}
.clock .hour-5{--rotation: 150deg;}
.clock .hour-6{--rotation: 180deg;}
.clock .hour-7{--rotation: 210deg;}
.clock .hour-8{--rotation: 240deg;}
.clock .hour-9{--rotation: 270deg;}
.clock .hour-10{--rotation: 300deg;}
.clock .hour-11{--rotation: 330deg;}
.clock .hour-12{--rotation: 360deg;}

.point{
    height: 30px;
    width: 30px;
    background-color: rgb(68, 5, 54);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.name{
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(10, 0, 62);
    position: absolute;
    top: 110px;
    left: 31%;
    text-align: center;
    color: rgba(117, 243, 0, 0.918);
    text-shadow: 2px 2px 20px rgb(92, 89, 89); 
}

.second{
    width: 220px;
    height: 1px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 49.5%;
    left: 50%;
    transform-origin: left;
    transform: translateY(-50%, -50%);
    transform: rotate(200deg);
    -webkit-transform: rotate(200deg);
    -moz-transform: rotate(200deg);
    -ms-transform: rotate(200deg);
    -o-transform: rotate(200deg);
    z-index: 20;
    border-radius: 20px;
}
.second::before{
    content: 'S';
    position: absolute;
    right: -12px;
    top: -5px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.second::after{
    content: '';
    position: absolute;
    left: 0px;
    top: 1px;
    height: 15px;
    width: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.hour-hand{
    width: 135px;
    height: 6px;
    background-color: #ee04ee;
    position: absolute;
    top: 49.5%;
    left: 50%;
    transform: rotate(20deg);
    transform-origin: left;
    border-radius: 20px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    z-index: 1;
}
.hour-hand::before{
    content: 'H';
    position: absolute;
    right: -12px;
    top: -5px;
    font-weight: bold;
    color: #ee04ee;
}
.minute{
    width: 200px;
    height: 2px;
    background-color: rgb(11, 184, 25);
    position: absolute;
    top: 49.5%;
    left: 50%;
    z-index: 1;
    transform-origin: left;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transform: rotate(92deg);
    -webkit-transform: rotate(92deg);
    -moz-transform: rotate(92deg);
    -ms-transform: rotate(92deg);
    -o-transform: rotate(92deg);
}
.minute::before{
    content: 'M';
    position: absolute;
    right: -14px;
    top: -5px;
    font-weight: bold;
    color: rgb(60, 255, 0);
}

#time{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 350px;
    left: 150px;
    border: 2px solid rgb(20, 3, 3);
    padding: 0 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.id{
    text-align: center;
    margin-top: 100px;

}
.id a{
    color: rgb(43, 255, 0);
}
.glow {
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }